.containermobilelogin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .containermobilelogin .image-container {
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 230px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .content-container {
    text-align: center;
    width: 100%; /* Set the width to 100% */
  }
  
  .form-group {
    margin-bottom: 10px;
    text-align: left; /* Align text to the left */
  }
  
  .content-container input[type="email"],
  input[type="password"],
  button.login-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .content-container button.login-button {
    background-color: rgb(57, 140, 98);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .content-container button.login-button:hover {
    background-color: #478b6e;
  }
  
  .content-container h2 {
    margin-bottom: 20px;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #343434;
  }
  
