.Homelisttitle {
    padding-left: 100px;
    padding-top: 10px;
  }
  
  /* HomeList.css */
  .homelisting {
    margin-left: 7%;
    margin-right: 7%;
    position: relative; 
    padding-top: 10px;
    padding: 10px;
  }
  
  .card {
    width: 300px; 
    height: 350px; 
    position: relative; 
  }
  
  .tagbadge {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background-color: #007bff; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  
  .card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 16px; /* Adjust the font size of the title */
    font-weight: bold; /* Optionally adjust font weight */
  }
  
  .card-subtitle {
    font-size: 12px; /* Adjust the font size of the subtitle */
    color: #888; /* Optionally adjust the color */
  }

  .cardButtonhome {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add some margin to separate from other content */
}

.cardButtonhome .btn {
    margin: 4px; /* Adjust margin between buttons */
    height: 40px; /* Adjust button height */
    width: 160px; /* Adjust button width */
    border-radius: 8px;
  }
  /* HomeList.css */

  .cardButtonhome .custom-button {
    background-color: #a73128; /* Green */
    border-color: #28a745; /* Green */
    color: #fff; /* White */
  }
  
  .cardButtonhome .custom-button:hover {
    background-color: #218838; /* Darker shade of green */
    border-color: #1e7e34; /* Darker shade of green */
    color: #fff; /* White */
  }
  
  .cardButtonhome .custom-button-outline {
    background-color: transparent;
    border-color: #28a745; /* Green */
    color: #28a745; /* Green */
  }
  
  .cardButtonhome .custom-button-outline:hover {
    background-color: #28a745; /* Green */
    border-color: #28a745; /* Green */
    color: #fff; /* White */
  }

  .bedtype {
    font-size: 12px;
    color: #505050; /* Adjust color as needed */
    padding-top: 14px;
  }
  
  .rentamt {
    float: right;
    font-weight: 500;
  }
  .monthamt {
    color: #5e5e5e;
    font-size: 10px;
  }
  


@media (max-width: 500px) {
    .Homelisttitle{
        padding-left: 20px;
        padding-top: 0px;
    }
    .Homelisttitle h5 {
        font-size: 15px;
    }
    .homelisting {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
        padding-left: 0px;
        justify-content: center;
        display: flex;
        padding: 10px;
       
    }
    .card {
        width: 340px; /* Adjust the width as needed */
        height: 550px; /* Adjust the height as needed */
      }

    .card-title {
    font-size: 16px; /* Adjust the font size of the title */
    font-weight: bold; /* Optionally adjust font weight */
    }

    .card-subtitle {
        font-size: 12px; /* Adjust the font size of the subtitle */
        color: #888; /* Optionally adjust the color */
      }

    .cardButtonhome .custom-button {
    background-color: #a73128; /* Green */
    border-color: #28a745; /* Green */
    color: #fff; /* White */
  }
  
  .cardButtonhome .custom-button:hover {
    background-color: #218838; /* Darker shade of green */
    border-color: #1e7e34; /* Darker shade of green */
    color: #fff; /* White */
  }
  
  .cardButtonhome .custom-button-outline {
    background-color: transparent;
    border-color: #28a745; /* Green */
    color: #28a745; /* Green */
  }
  
  .cardButtonhome .custom-button-outline:hover {
    background-color: #28a745; /* Green */
    border-color: #28a745; /* Green */
    color: #fff; /* White */
  }
}
